html, body {
  overflow-x: hidden;
}
body{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #685C79;
  margin:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 54.4px;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}
h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}
p {
  font-size: 14px;
  line-height: 25.6px;
  font-weight: 600;
}

/* Hero */

.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: relative;
  height: 680px;
}

#hero-graph {
  position:absolute;
  top: 35%;
  z-index:-1;
}

.hero-info {
  width: 190px;
  margin: 20px 0 0 15%;
}

.hero-info h4 {
  margin-bottom: 15px;
}

.hero-info h5 {
  margin-bottom: 40px;
}

.logo {
  margin-bottom: 10px;
  width: 51px;
}

.hero-info h5 {
  color: rgba(104, 92, 121, .8);
  margin-top: -10px;
}

.mobile-button {
  height: 32px;
  width: 128px;
  position: relative;
  background-color: #685C79;
  margin-top: 40px;
  padding: 11px 28px 11px 28px;
  font-size: 12px;
  color:#fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.button {
  visibility: hidden;
}

#mobile-hero-phone-img {
  width: 180px;
  margin-top: 54px;
  margin-left: -5px;
}


@media (min-width: 768px) {
  .hero {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    height: 600px;
  }
  .hero-info {
    width: 75%;
    margin: 20px auto 0 auto;
  }
  .hero-info h4 {
    font-size: 30px;
    line-height: 45px;
    margin-top: 100px;
    margin-left: 50%
  }
  .hero-info h5 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50%;
    line-height: 35px;
  }
  .logo {
    width: 80px;
  }
  .mobile-button {
    visibility: hidden;
  }
  .button {
    visibility: visible;
    float: right;
    background-color: #685C79;
    padding: 14px 40px;
    font-size: 16px;
    color:#fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }
  #mobile-hero-phone-img {
    width: 250px;
    margin-top: -270px;
    margin-left: -5px;
    float: left;
  }
  .hero-info h4 {
    margin-bottom: 15px;
  }
  .hero-info h5 {
    margin-bottom: 40px;
  }
  #graph-image {
    width: 100%;
    margin-top: 8%;
  }
}

@media (min-width: 1042px) {
  #mobile-hero-phone-img {
    margin-top: -225px;
  }
}

@media (min-width: 1058px) {
  #mobile-hero-phone-img {
    margin-top: -225px;
  }
  .hero-info h4 {
    margin-left: 390px;
  }
  .hero-info h5 {
    margin-left: 390px;
  }
}

@media (min-width: 1122px) {
  #mobile-hero-phone-img {
    margin-top: -222px;
    width: 270px;
  }
  #graph-image {
    margin-top: 2%;
  }
}

@media (min-width: 1138px) {
  #mobile-hero-phone-img {
    margin-top: -220px;
  }
}

@media (min-width: 1434px) {
  #mobile-hero-phone-img {
    margin-top: -178px;
  }
}


/* Stats Section */

.stats-section {
  width: 100%;
  padding-bottom: 80px;
  float: left;
  position: relative;
  background-color: #ffffff;
  z-index: 150;
  clear: both;
  text-align: center;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 40px auto 0 auto;
}

#screen-time-circle {
  border: 8px solid #EC7263;
  background: linear-gradient(to top, rgba(237, 114, 99, .4) 50%, transparent 50%);
}

.stat {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-top: 10px;
  color: #030303;
  margin: 15px auto 5px !important;
}

.stat-description {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #030303;
}

#app-opens-circle {
  border: 8px solid #FEBC98;
  background: linear-gradient(to top, rgba(254, 188, 152, .4) 40%, transparent 40%);
}

#app-spending-circle {
  border: 8px solid #B7C4EE;
  background: linear-gradient(to top, rgba(183, 196, 238, .4) 30%, transparent 30%);
}

.stats-section h4 {
  margin: 20px auto 20px;
}

#screen-time {
    color: #EC7263;
}

#app-opens {
    color: #FEBC98;
}

#app-spending {
    color: #B7C4EE;
}

.stats-section p {
  color: rgba(24, 16, 25, .7);
  margin: 0 10%;
}

.circle-text p {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  /*
  timeline circle & line do not stay centered using %s
  .stats-section:before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 6px solid #685c79;
    border-radius: 100%;
    top: -150px;
    left: 49.3%;
  }
  .stats-section:after {
    content: " ";
    position: absolute;
    width: 6px;
    background-color: #685c79;
    height: 192px;
    top: -132px;
    left: 49.8;
  }
  */

  .one-third {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
  .stats-section {
    padding-bottom: 60px;
  }
  .circle {
    margin-top: 60px;
  }
  .stats-section .button {
    margin: 60px auto;
    float: none;
  }
  .circle-text {
    margin-top: 30px;
  }
  .circle-text p {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
  }
  .circle-text h4 {
    font-size: 26px;
  }
}


/* goals section */

.goals-section {
  width: 100%;
  padding-bottom: 80px;
  float: left;
  position: relative;
  background-color: #f8f9fa;
  clear: both;
  text-align: center;
  overflow: hidden;
}

.goals-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.goals-section h4 {
  margin: 40px auto 20px;
  color: #685c79;
}

.goals-section p {
    color: rgba(24, 16, 25, .7);
    margin: 0 10%;
}

#mobile-alerts-phone-img {
  width: 200px;
  margin: 40px auto 70px;
  position: relative;
  z-index: 75;
}

#goals-graph {
  margin-top: -565px;
  position: absolute;
  float: left;
  z-index: 50;
}

@media (min-width: 768px) {
  .goals-section {
    padding-bottom: 0px;
  }
  .one-half {
    width: 50%;
    float: left;
    position: relative;
    z-index: 5;
    }
  .goals-info {
    text-align: left;
    margin: 0 auto;
    width: 75%;
  }
  .goals-section h4 {
    font-size: 26px;
    margin-top: 100px;
  }
  .goals-section p {
    margin-bottom: -10px;
    margin-left: 0;
    font-size: 16px;
    line-height: 30px;
  }
  .goals-info a {
    clear: both;
    float: left;
    margin-top: 40px;
  }
  #mobile-alerts-phone-img {
    width: 260px;
    float: right;
    margin: 73px 0 0 0;
  }
  #goals-graph {
    width: 100%;
    margin-top: -653px;
    position: relative;
    z-index: 0;
  }
}

/* testimonials section */

.testimonials-section {
  width: 100%;
  padding-bottom: 10px;
  float: left;
  position: relative;
  background-color: #ffffff;
  clear: both;
  text-align: center;
}

.testimonials-info-div {
  width: 70%;
  margin-left: -20px;
  margin-right: -15px;
  display: inline-block;
}

.testimonials-arrow-div-left {
  float: left;
  position: relative;
  padding-left: 15px;
}

.testimonials-arrow-div-right {
  float: right;
  position: relative;
  padding-right: 15px;
}

#testimonial-photo {
  width: 125px;
  margin: 40px auto 20px;
}

#testimonial-arrow-left {
  margin-top: 191px;
  width: 14px;
}

#testimonial-arrow {
  margin-top: 191px;
  width: 14px;
}

#five-star-rating {
  width: 160px;
  margin-right: auto;
  margin-left: auto;
}

.testimonials-section p {
  color: #685c79;
  margin: 20px 0 40px;
}

@media (min-width: 768px) {
  .testimonials-section {
    height: 360px;
    margin-top: -5px;
  }
  .testimonials-info-div {
    text-align: left;
    margin-top: 87px;
  }
  #testimonial-photo {
    width: 180px;
    float: left;
    margin: auto 40px auto 0;
  }
  #five-star-rating {
    margin-top: 12px;
    margin: 0 0;
  }
  #testimonial-arrow {
    margin-top: 155px;
    margin-right: 60px;
    width: 20px;
  }
  #testimonial-arrow-left {
    margin-top: 155px;
    margin-left: 60px;
    width: 20px;
  }
}

@media (min-width: 950px) {
  .testimonials-section p {
    font-size: 18px;
    line-height: 30px;
  }
}

/* footer */

.footer {
  width: 100%;
  height: 430px;
  float: left;
  position: relative;
  background-color: #685c79;
}

.footer-info {
  text-align: left;
  margin: 60px auto 60px 15%;
}

.footer h4 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
}

#footer-logo {
  margin: 0 auto 60px 15%;
  width: 192px;
}

@media (min-width: 992px) {
  .footer {
    height: 160px;
  }
  .footer-info {
    width: 63%;
    float: left;
    margin: 77px 0 0;
  }
  .footer h4 {
    display: inline;
    margin: auto 40px auto 0;
  }
  #footer-text {
    margin-left: 15%;
  }
  #footer-logo {
    float: right;
    margin: 40px 40px 0 0;
    width: 220px;
  }
}
